.advantage-expanded {
  background-color: #81b3d2;

  color: #fff;
}

.advantage-expanded__header {
  font-weight: 700;
}

.advantage-expanded__number {
  font-size: 14px;
  line-height: 21px;
}

.advantage-expanded__description {
  font-size: 14px;
  line-height: 21px;
}