.advantage-expanded {
  color: #ffffff;
  text-align: center;
}

.advantage-expanded__text-wrapper {
  width: 280px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;

  background-color: #81b3d2;
}

.advantage-expanded__header {
  margin: 0;
  padding: 40px 0 0 0;

  font-size: 18px;
  font-weight: 700;
}

.advantage-expanded--real-city .advantage-expanded__text-wrapper {
  background-image: url("@{path-images}/bg-triangle.svg");
  background-position: center top;
  background-repeat: no-repeat;
}

.advantage-expanded--real-city .advantage-expanded__header {
  padding-top: 77px;
}

.advantage-expanded__number {
  margin: 8px 0 0 0;
  padding: 0;

  font-size: 14px;
  line-height: 21px;

  &::before,
  &::after {
    content: "–";

    color: inherit;
  }

  &::before {
    margin-right: 5px;
  }

  &::after {
    margin-left: 5px;
  }
}

.advantage-expanded__description {
  margin: 16px 0 0 0;
  padding: 0 0 39px 0;

  font-size: 14px;
  line-height: 21px;
}

.advantage-expanded__picture-wrapper {
  width: 320px;
  margin: 0 auto;
}

.advantage-expanded__picture {
  display: block;
}

.advantage-expanded__line-delimiter--desktop {
  display: none;
}

@media (min-width: @tablet-width) {
  .advantage-expanded {
    display: flex;
    width: 100%;
  }

  .advantage-expanded--real-city .advantage-expanded__text-wrapper {
    background: #81b3d2;
  }

  .advantage-expanded--real-city .advantage-expanded__header,
  .advantage-expanded__header {
    padding-top: 45px;

    font-size: 21px;
  }

  .advantage-expanded--devil-bridge .advantage-expanded__header {
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .advantage-expanded__number {
    margin: 10px 0 0;
  }

  .advantage-expanded__text-wrapper {
    width: 256px;
    padding-left: 45px;
    padding-right: 45px;
    margin-left: auto;
    margin-right: 0;

    &--reverse {
      margin-left: 0;
      margin-right: auto;
      order: 2;
    }
  }

  .advantage-expanded__description {
    margin-top: 21px;
    padding-bottom: 35px;
  }

  .advantage-expanded__picture-wrapper {
    width: 512px;
    margin-left: 0;
    margin-right: auto;

    &--reverse {
      margin-left: auto;
      margin-right: 0;
      order: 1;
    }
  }

  .advantage-expanded__picture {
    margin-top: 0;
  }
}

@media (min-width: @desktop-width) {
  .advantage-expanded__text-wrapper {
    width: 400px;
    box-sizing: border-box;
    padding-left: 65px;
    padding-right: 65px;
  }

  .advantage-expanded:nth-child(1) .advantage-expanded__header,
  .advantage-expanded__header {
    width: 151px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 53px;
  }

  .advantage-expanded__picture-wrapper {
    width: 800px;
    height: 257px;
    overflow: hidden;
  }

  .advantage-expanded--devil-bridge .advantage-expanded__description {
    width: 230px;
    margin-left: auto;
    margin-right: auto;
  }

  .advantage-expanded__line-delimiter--desktop {
    display: block;
  }
}
