.greeting {
  position: relative;
  
  width: 100%;

  text-align: center;
}

.greeting__logo-text {
  position: absolute;
  top: 90px;
  left: 50%;

  transform: translateX(-50%);
}

.greeting__text {
  margin: 45px 0 0 0;
  padding: 0;

  font-weight: bold;
}

@media (min-width: @tablet-width) {
  .greeting__text {
    width: 445px;
    margin-left: auto;
    margin-right: auto;

    font-size: 21px;
  }

  .greeting__line-delimiter--mobile {
    display: none;
  }
}