.greeting {
  width: 100%;
  padding-top: 390px;

  text-align: center;

  background: url("../img/bg-back-mobile@1x.jpg") center top no-repeat;
}

.greeting__text {
  margin: 45px 0 0 0;
  padding: 0;

  font-weight: bold;
}
