.map {
  position: relative;

  text-align: center;
}

.map__map-marker {
  position: absolute;
  top: 49%;
  left: 50%;

  width: 28px;
  height: 28px;

  transform: translate(-50%, -50%);
}

@media (min-width: @tablet-width) {
  .map__map-marker {
    top: 50%;
  }
}

@media (min-width: @desktop-width) {
  .map__map-marker {
    top: 49%;
  }
}
