.map {
  text-align: center;
}

.map__picture--tablet {
  display: none;
}

@media (min-width: @tablet-width) { 
  .map__picture--mobile {
    display: none;
  }

  .map__picture--tablet {
    display: inline;
  }
}
