.map {
  position: relative;

  text-align: center;
}

.map__picture--tablet,
.map__picture--desktop {
  display: none;
}

.map__map-marker {
  position: absolute;
  top: 49%;
  left: 50%;

  width: 28px;
  height: 28px;

  transform: translate(-50%, -50%);
}

@media (min-width: @tablet-width) {
  .map__picture--mobile {
    display: none;
  }

  .map__picture--tablet {
    display: inline;
  }
}

@media (min-width: @desktop-width) {
  .map__picture--tablet {
    display: none;
  }

  .map__picture--desktop {
    display: inline;
  }
}
