.page-header {
  position: relative;
}

.page-header__logo {
  display: block;
  width: 100%;
  height: 60px;

  text-align: center;
}

.page-header__open-menu {
  position: absolute;
  right: 15px;
  bottom: 15px;
}
