.page-main__logo {
  height: 160px;

  background: url("@{path-images}/bg-intro-triangle-mobile.svg") center bottom no-repeat, url("@{path-images}/text-sedona.svg") center 45% no-repeat, url("@{path-images}/bg-back-mobile@1x.jpg") center center no-repeat;

  background-size: contain, 235px 45px;

  text-align: center;
}

.page-main__logo--index {
  height: 390px;

  background: url("@{path-images}/bg-intro-triangle-mobile.svg") center bottom no-repeat, url("@{path-images}/text-sedona-index.svg") center 52% no-repeat, url("@{path-images}/bg-back-mobile@1x.jpg") center center no-repeat;
  background-size: contain, 280px 213px, cover;
}

.page-main__header {
  margin: 40px 0 0 0;
  padding: 0;

  font-size: 18px;
  font-weight: 700;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .page-main__logo {
    height: 290px;

    background: url("@{path-images}/bg-intro-triangle-tablet.svg") center bottom no-repeat, url("@{path-images}/text-sedona.svg") center 45% no-repeat, url("@{path-images}/bg-back-tablet@1x.jpg") center center no-repeat;
    background-size: 100%, 455px 80px;

    &--index {
      height: 518px;

      background: url("@{path-images}/bg-intro-triangle-tablet.svg") center bottom no-repeat, url("@{path-images}/text-sedona-index.svg") center 46% no-repeat, url("@{path-images}/bg-back-tablet@1x.jpg") center center no-repeat;
      background-size: 768px, 470px 350px, cover;
    }
  }

  .page-main__header {
    width: 320px;
    margin: 80px auto 0 auto;

    font-size: 30px;
  }
}

@media (min-width: @desktop-width) {
  .page-main__logo {
    height: 300px;

    background: url("@{path-images}/bg-intro-triangle-desktop.svg") center bottom no-repeat, url("@{path-images}/text-sedona.svg") center 45% no-repeat, url("@{path-images}/bg-back-desktop@1x.jpg") center center no-repeat;

    &--index {
      height: 517px;

      background: url("@{path-images}/bg-intro-triangle-desktop.svg") center bottom no-repeat, url("@{path-images}/text-sedona-index.svg") center 46% no-repeat, url("@{path-images}/bg-back-desktop@1x.jpg") center center no-repeat;
      background-size: 1200px, 470px 350px, cover;
    }
  }

  .page-main__header {
    margin-top: 115px;
  }
}
