.page-main__logo {
  height: 160px;

  background: url("@{path-images}/bg-back-mobile@1x.jpg") center center no-repeat;

  text-align: center;
}

.page-main__header {
  margin: 40px 0 0 0;
  padding: 0;

  font-size: 18px;
  font-weight: 700;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .page-main__logo {
    height: 290px;

    background: url("@{path-images}/bg-back-tablet@1x.jpg") center center no-repeat;
  }

  .page-main__header {
    width: 215px;
    margin: 80px auto 0 auto;
  }
}
