.search {
  text-align: center;
}

.search__header {
  font-size: 21px;
  font-weight: 700;
}

.search__text {
  font-size: 14px;
  line-height: 24px;
  color: #333333;
}

.search__button {
  font-size: 21px;
  font-weight: 700;
  color: #fff;

  background-color: #81b3d2;

  cursor: pointer;
}